# 应用启动地址
APP_HOST=0.0.0.0
APP_PORT=3000
DISABLE_HMR=true

# local 环境
# 对应命令：
# npm run dev
# npm run build:local
# npm run start:local
MQTT_URL="ws://106.12.13.32:8083/mqtt"
MQTT_USERNAME="zdzn"
MQTT_PASSWORD="zdzn@1234"
MQTT_TOPIC="/sensor/jl_old/pub"

# dev 环境单独放到 .env.dev，例如：
# MQTT_URL="ws://47.115.212.129:8083/mqtt"
# MQTT_USERNAME="zdzn"
# MQTT_PASSWORD="zdzn@1234"
# MQTT_TOPIC="/sensor/jl_old/pub"
